.home__p {
  margin-top: 20px;
}

.home_play{
  overflow: hidden;
  border:solid 2px #fff;
  background: #000;
  color: #fff !important;
  cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 20px;
    padding: 24px 36px;
    font-size: 24px;
    line-height: 38px;
    text-transform: uppercase;
    letter-spacing: 3px;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}

.home_play:hover{
  border:solid 2px #000;
  background: #fff;
  color: #1f1f1f !important;
}